//  ____  _             _                
// / ___|| |_ __ _ _ __| |_ _   _ _ __   
// \___ \| __/ _` | '__| __| | | | '_ \  
//  ___) | || (_| | |  | |_| |_| | |_) | 
// |____/ \__\__,_|_|   \__|\__,_| .__/  
//                               |_|     

spawn-at-startup "awww-daemon"
spawn-at-startup "waybar"
spawn-at-startup "nm-applet"
spawn-at-startup "blueman-applet"
spawn-at-startup "kdeconnect-indicator"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
spawn-at-startup "while true; do swww img --transition-type wipe \"$(find ~/Media/wallpaper -type f | shuf -n 1)\"; sleep 60; done"
