// __        ___           _                 ____        _           
// \ \      / (_)_ __   __| | _____      __ |  _ \ _   _| | ___  ___ 
//  \ \ /\ / /| | '_ \ / _` |/ _ \ \ /\ / / | |_) | | | | |/ _ \/ __|
//   \ V  V / | | | | | (_| | (_) \ V  V /  |  _ <| |_| | |  __/\__ \
//    \_/\_/  |_|_| |_|\__,_|\___/ \_/\_/   |_| \_\\__,_|_|\___||___/


// Specific Window Rules
window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^kitty$"#
    default-column-width {}
}

window-rule {
    match title="^Picture-in-Picture$|^Picture in picture$"
    open-floating true
    default-floating-position x=0 y=0 relative-to="bottom-right"
  }

window-rule {
    match app-id=r#"^(|kdeconnect-indicator||wihotspot|eog|vlc|totem||Yad|nm-connection-editor|blueman-manager|foot|mousepad|org\.gnome\..*|org\.kde\..*)$"#
    open-floating true
}

window-rule {
    match app-id="org.gnome.Papers"
    open-floating false
}

window-rule {
    match title="^KDE Connect.*$"
    open-floating true
}

// General Rules
window-rule {
    match title="^Picture-in-Picture$|^Picture in picture$"
    baba-is-float false
}

layer-rule {
    match namespace="waybar"

    background-effect {
        blur true
        xray false
    }

    popups {
        opacity 0.75
        geometry-corner-radius 10

        background-effect {
            xray false
            blur true
        }
    }
}

window-rule {
    background-effect {
        blur true
        xray true
    }
}

window-rule {
    popups {
        geometry-corner-radius 10
        opacity 0.75

        background-effect {
            blur true
        }
    }
}
