* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  min-height: 0;
  font-size: 97%;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  padding: 1px;
  box-shadow: none;
  }
  
  @define-color base   #1e1e2e;
  @define-color mantle #181825;
  @define-color crust  #11111b;
  
  @define-color text     #cdd6f4;
  @define-color subtext0 #a6adc8;
  @define-color subtext1 #bac2de;
  
  @define-color surface0 #313244;
  @define-color surface1 #45475a;
  @define-color surface2 #585b70;
  
  @define-color overlay0 #6c7086;
  @define-color overlay1 #7f849c;
  @define-color overlay2 #9399b2;
  
  @define-color blue      #89b4fa;
  @define-color lavender  #b4befe;
  @define-color sapphire  #74c7ec;
  @define-color sky       #89dceb;
  @define-color teal      #94e2d5;
  @define-color green     #a6e3a1;
  @define-color yellow    #f9e2af;
  @define-color peach     #fab387;
  @define-color maroon    #eba0ac;
  @define-color red       #f38ba8;
  @define-color mauve     #cba6f7;
  @define-color pink      #f5c2e7;
  @define-color flamingo  #f2cdcd;
  @define-color rosewater #f5e0dc;
  
  window#waybar {
    transition-property: background-color;
    transition-duration: 0.5s;
    background: transparent;
    border-radius: 10px;
  }

  #tray menu{
    background: rgb(30, 30, 46);
    border: 2px solid @blue;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  window#waybar.hidden {
    opacity: 0.2;
  }
  
  #waybar.empty #window {
    background: none;
  }
  
  .modules-left, .modules-center, .modules-right {
      background: rgba(30, 30, 46, 1);
      border: 2px solid @blue;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-right: 4px;
      padding-left: 4px;
      border-radius: 10px;
  } 
  
  #backlight,
  #battery,
  #bluetooth,
  #clock,
  #cpu,
  #disk,
  #memory,
  #network,
  #pulseaudio,
  #temperature,
  #tray,
  #window,
  #workspaces,
  #custom-power,
  #custom-updater {
      padding-top: 3px;
      padding-bottom: 3px;
      padding-right: 6px;
      padding-left: 6px;
  }
  
  
  #bluetooth,
  #backlight {
    color: @blue;
  }


  #custom-cava {
    color: @red;
    padding-right: 6px;
    padding-left: 6px;
  }
  
  #battery {
    color: @green;
  }
  
  @keyframes blink {
    to {
      color: @surface0;
    }
  }
  
  #battery.critical:not(.charging) {
    background-color: rgba(243, 139, 168, 0.2);
    color: @theme_text_color;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 10px;
  }
  
  #clock {
    color: @yellow;
  }
  
  #custom-night {
    color: @yellow;
    font-size: 13px;   
  }

  #custom-game-mode {
    color: @green;
    font-size: 15px;   
  }

  #custom-touch-toggle {
    color: @yellow;
    transition: all 0.2s ease-in-out;
  }

  #custom-touch-toggle:hover, 
  #custom-updater {
    color: @red;
  }

  #cpu {
    color: @green;
  }
  
  #memory {
    color: @sky;
  }
  
  #disk {
    color: @sapphire;
  }
  
  #temperature {
    color: @teal;
  }
  
  #temperature.critical {
    background-color: @red;
  }
  
  #tray > .passive {
    -gtk-icon-effect: dim;
  }
  #tray > .needs-attention {
    -gtk-icon-effect: highlight;
  }
  
  #workspaces button {
      box-shadow: none;
      text-shadow: none;
      padding: 0px;
      border-radius: 9px;
      padding-left: 4px;
      padding-right: 4px;
      animation: gradient_f 20s ease-in infinite;
      transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
  }
  
  #workspaces button:hover {
      border-radius: 10px;
      color: @overlay0;
      background-color: @surface0;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
  }
  
  #workspaces button.persistent {
      color: @surface1;
      border-radius: 10px;
  }
  
  #workspaces button.active{
    color: @peach;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
  }
  
  #workspaces button.urgent {
      color: @red;
      border-radius: 0px;
  }
  
  #custom-power {
    color: @red;
  }

  #pulseaudio {
    color: @sapphire;
  }
  
  #pulseaudio.bluetooth {
    color: @sapphire;
  }
  
  #pulseaudio.muted {
    color: @red;
  }
  
  #window {
    color: @sapphire;
  }
  
  #network {
    color: @teal;
  }
  
  #network.disconnected,
  #network.disabled {
    color: @text;
  }
  
  
