//   ____                           _ 
//  / ___| ___ _ __   ___ _ __ __ _| |
// | |  _ / _ \ '_ \ / _ \ '__/ _` | |
// | |_| |  __/ | | |  __/ | | (_| | |
//  \____|\___|_| |_|\___|_|  \__,_|_|

// Misc
prefer-no-csd
hotkey-overlay {
    skip-at-startup
}
screenshot-path "~/Media/shots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// Input
input {
    focus-follows-mouse max-scroll-amount="10%"
    
    keyboard {
        xkb {
          layout "us"
        }
        numlock
        repeat-delay 300
        repeat-rate 50
    }

    touchpad {
        tap
        natural-scroll
        accel-speed 0.3
        scroll-method "two-finger"
        disabled-on-external-mouse
    }
}

// Layout
layout {
    gaps 10
    center-focused-column "never"
    preset-column-widths {
        proportion 0.3
        proportion 0.5
        proportion 0.7
    }
    default-column-width { proportion 0.5; }
    
    focus-ring {
        off
    }
    border {
        width 4
        active-gradient from="#89B4FA" to="#A6E3A1" angle=45
        inactive-color "#59595A"
        urgent-color "#9b0000"
    }
    shadow {
      off
    }
}

overview {
    backdrop-color "#181825"
}

// Cursor Theming
cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 24
}
