/* Disable outside tab frame drop shadow */
:root:not([inDOMFullscreen="true"]):not([chromehidden~="location"]):not([chromehidden~="toolbar"]) {
    & #tabbrowser-tabbox #tabbrowser-tabpanels .browserSidebarContainer {
        width: -moz-available;
        border-radius: 0 !important;
        border: 0 !important;
        transform: translate3d(0, 0, 0);
        position: relative;
        box-shadow: none !important;
    }
}


/* Disable All Frame Margins & Splitter*/
#zen-appcontent-navbar-container {
    display: none !important;
}
#zen-tabbox-wrapper {
    margin: 0 !important;
}
#sidebar-splitter  {
    display: none;
}

/* Configure Inset Border for Sidebar, Web Panel and Browser Stack */
#main-window:not([sizemode="fullscreen"]) .browserStack browser, #zen-sidebar-web-panel-wrapper, #sidebar-box, .devtools-toolbox-bottom-iframe {
    box-shadow: none !important;
    position: relative;
    border: inset 0.5px var(--zen-colors-border) !important;
}

.browserStack browser,
#zen-sidebar-web-panel-wrapper,
#sidebar-box {
    border-radius: 0 !important;
}


/* Private Browsing Mode */
#main-window[privatebrowsingmode="temporary"] {
    --toolbox-bgcolor-inactive: #31064d !important;
    --zen-main-browser-background-toolbar: #26053a !important;
    --zen-main-browser-background: #26053a !important;
}

#main-window[privatebrowsingmode="temporary"] #tabbrowser-tabs {
    & .tabbrowser-tab {
        .tab-background {
            background: #a113ffa5 !important;
        }
    }
}


/* Floating Status Panel */
#statuspanel {
    margin: 10px !important;
}

#statuspanel-label {
    border-radius: 10000px !important;
    padding: 2px 10px !important;
    border: 1px solid var(--zen-colors-border) !important;
    background: var(--zen-colors-tertiary) !important;
}


/* Context Menu Theming */
:root {
    --zen-colors-primary: #82aaff !important;
    --zen-colors-secondary: #c099ff !important;
    --zen-colors-tertiary: #1e2030 !important;
    --zen-colors-border: #3b4261 !important;
    --zen-dialog-background: #1E1E2E !important;
}

.menupopup-arrowscrollbox {
    background-color: #1E1E2E !important;
}


/* Dim Unloaded Tabs */
.tabbrowser-tab[pending="true"] {
    filter: grayscale(1);
    opacity: 0.5;
}


/* Background Color for Selected Tab with Transition */
#tabbrowser-tabs {
    & .tabbrowser-tab[selected]:not([zen-essential="true"]) .tab-background {
        background: rgba(180, 190, 254, 0.4) !important;
        border: 1px solid rgba(180, 190, 254, 1) !important;
        transition: background 0.3s ease, border 0.3s ease !important;
    }
}


/* Center URL Bar Text */
#urlbar:not([focused]) .urlbar-input {
    text-align: center !important;
}

/* URL Bar Text Color */
.urlbarView-row-inner[aria-selected="true"] {
    color: #b4befe !important;
}


/* Hide Unnecessary URL Bar Buttons */
#tracking-protection-icon-container,
#picture-in-picture-button,
#reader-mode-button {
    display: none !important;
}

#urlbar:not(:hover):not(:focus-within) #identity-permission-box:not(:hover):not(:focus-within) {
    display: none !important;
}


/* Change Media Player Background Color */
#zen-media-controls-toolbar {
    &>toolbaritem {
        --zen-media-control-bg: #1E1E2E !important;
    }
}


/* Zen Essentials Container Force 2 Collumns */
#zen-essentials-container {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
}


/* Fix weird Essentials position after 1.12b update */
.zen-essentials-container.zen-workspace-tabs-section {
    position: inherit !important;
    padding-right: 15px !important;
}

#zen-current-workspace-indicator-container {
  display: none;
}


/* Bigger Zen Essentials Icons */
#zen-essentials-container>tab>stack:nth-child(1)>hbox:nth-child(2)>stack:nth-child(2)>img:nth-child(3) {
    height: 16px !important;
    width: 16px !important;
}


/* Add New Tab Urlbar Indicator */
#urlbar[zen-newtab="true"] {
    #identity-icon {
        list-style-image: url("chrome://browser/skin/zen-icons/new-tab-image.svg") !important;
        filter: opacity(0.5) !important;
    }

    &[open] #identity-icon-box::after {
        content: " New Tab" !important;
        filter: opacity(0.5) !important;
        padding-left: 6px !important;
    }
}


/* Fix Tabs Top Margin */
#zen-tabs-wrapper {
    margin-top: 3px !important;
}


/* Simulate compact mode on window tile */
@media screen and (max-width: 1000px) {
    /* Only apply when #zen-main-app-wrapper does not have zen-compact-mode="true" */
    #zen-main-app-wrapper:not([zen-compact-mode="true"]) #navigator-toolbox {
        overflow: hidden !important;
        min-width: 0px !important;
        width: 0px !important;
        transition: all 0.3s ease !important;
        opacity: 0 !important;
    }
    #zen-main-app-wrapper:not([zen-compact-mode="true"]) #navigator-toolbox:hover {
        min-width: auto !important;
        width: auto !important;
        opacity: 1 !important;
    }
    #zen-main-app-wrapper:not([zen-compact-mode="true"]) #zen-sidebar-splitter {
        display: none !important;
    }
}
